<img src="image/background.jpg" class="background" />
Copy
img.background {
min-height: 100%;
min-width: 640px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
/* Определяется размером картинки */
@media screen and (max-width: 640px){img.bg {left: 50%;margin-left: -320px;}}}